/* Basic page style resets */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  line-height: normal;
  font-weight: normal;
}

[hidden] {
  display: none !important;
}

/* ------------------------------------ */
:root {
  --display-font: 'Abril Fatface', serif;
  --regular-font: 'Poppins', sans-serif;

  --header-height: 4rem;
  --horizontal-padding: 1rem;
}

/* ------------------------------------ */

body {
  height: 100vh;
}

.header {
  font-family: var(--display-font);
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: var(--header-height);

  padding-inline: var(--horizontal-padding);
}

main {
  font-family: var(--regular-font);
  display: flex;
}

/* ----- */

.filter-sidebar {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--header-height));

  justify-content: space-between;

  padding-inline: var(--horizontal-padding);
}

.filters-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.remix-wrapper {
}

.canvas-wrapper {
  width: calc(100% - 5rem);
  height: calc(100vh - var(--header-height));
}

/* ----- */

.title {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 2rem;
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.bird-species-radios {
  display: flex;
  flex-direction: column;

  /* padding: 0.5rem; */
}

.input-target:has(> .bird-species-radios) {
  height: 15rem;
  overflow: auto;
}

.footer {
}

.glitch-remix-button {
}

label:has(> input) {
  font-size: 0.85rem;
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

label:has(> input) > span {
  line-height: 1;
}

label {
  font-size: 0.85rem;
}

.year-input-wrapper {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.year-input-wrapper:first-of-type {
  padding-bottom: 0;
}

.year-input-wrapper input {
  width: 4rem;
}

.year-input-wrapper label {
  min-width: 5rem;
}

#search_input_wrapper {
  display: flex;
  gap: 0.5rem;

  padding-bottom: 1rem;

  border-bottom: 1px gray solid;
}

fieldset {
  border: 1.5px solid gray;
}

legend {
  font-weight: 600;
  padding-inline: 0.25rem;
  margin-left: 0.25rem;

  border: 1.5px solid gray;
}

.input-target {
  padding: 0.5rem;
}

.graph-type-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.filters-header {
  font-size: 1.25rem;
  font-weight: 800;
}
