/* Basic page style resets */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  line-height: normal;
  font-weight: normal;
}

[hidden] {
  display: none !important;
}

/* ------------------------------------ */
:root {
  --display-font: 'Abril Fatface', serif;
  --regular-font: 'Poppins', sans-serif;

  --header-height: 4rem;
  --horizontal-padding: 1rem;
}


/* ------------------------------------ */

body {
  height: 100vh;
}

.header {
  font-family: var(--display-font);
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: var(--header-height);

  padding-inline: var(--horizontal-padding);
}

main {
  font-family: var(--regular-font);
  display: flex;
}

/* ----- */

.filter-sidebar {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--header-height));

  justify-content: space-between;

  padding-inline: var(--horizontal-padding)
}

.filters-wrapper {
  display: flex;
  flex-direction: column;
}

.remix-wrapper {

}

.canvas-wrapper {
  width: calc(100% - 3rem);
  height: calc(100vh - var(--header-height));
}

/* ----- */

.title, .location-name-heading {
  font-size: 2rem;
}

.title {
}

.location-name-heading {
}

.radio-group {
  display: flex;
  flex-direction: column;
}

.bird-species-radios {
  height: 15rem;
  overflow: auto;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer {
}

.glitch-remix-button {
}

label:has(> input) {
  font-size: 0.85rem;
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

label:has(> input) > span {
  line-height: 1;
}

label {
  font-size: 0.85rem;
}

.year-input-wrapper {

}

.whoa {

}
