/* Our default values set as CSS variables */
:root {
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;

  --display-font: "Abril Fatface", serif;
  --regular-font: "Poppins", sans-serif;
}

/* Basic page style resets */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  line-height: normal;
  font-weight: normal;
}

[hidden] {
  display: none !important;
}

/* ------------------------------------ */

.header {
  font-family: var(--display-font);
  display: flex;
}

main {
  font-family: var(--regular-font);
  display: flex;
}

/* ----- */

.filter-sidebar {

}

.canvas-wrapper {

}

/* ----- */

.title {
}

.location-name-heading {
}

.year-span-heading {
}

.filters {
  display: flex;
  list-style: none;

  flex-direction: column;
}

select {

}

.dropdown-select {

}

.radio-group {
}

.footer {
}

.glitch-remix-button {
}
